main {
    margin-top: 75px; }
.navbar {
    position: relative;
    box-shadow: 2px 2px 5px #3292a6;
    background: #fff; }
    .navbar .nav-item {
      font-size: 1.2rem;
      padding-left: 1rem; }

      .carousel-item {
        height: 450px;
    }      
.carousel-image-1 {
    background-size: cover;
}

.carousel-image-2 {
    background-size: cover;
}

.carousel-image-3 {
    background-size: cover;
}
.cartcho{
    position: absolute;
    right: 73%;
    top: 25%;
    display: inline-flex;
}

#main-footer {
    background: #000;
    color: #fff;
}
#main-footer a {
    text-decoration: none;
    color: #fff;    
}

/* mouse over link */
#main-footer a:hover {
    color: gainsboro;
}

#products_s .card:hover {
    background: #3096afa9;
    color: rgb(255, 255, 255); }

    #products_s .card:hover a{
        color: rgb(255, 255, 255); }

    .card a {
        text-decoration: none;
        color: black;
    }