
main {
    margin-top: 75px; }
.navbar {
    position: relative;
    box-shadow: 2px 2px 5px #3292a6;
    background: #fff; }
    .navbar .nav-item {
      font-size: 1.2rem;
      padding-right: 1rem; }

.carousel-item {
    height: 450px;
}      
.carousel-image-1 {
    background-size: cover;
}

.carousel-image-2 {
    background-size: cover;
}

.carousel-image-3 {
    background-size: cover;
}
.cartcho{
    position: absolute;
    left: 73%;
    top: 25%;
    display: inline-flex;
}

#main-footer {
    background: #000;
    color: #fff;
}
#main-footer a {
    text-decoration: none;
    color: #fff;    
}

/* mouse over link */
#main-footer a:hover {
    color: gainsboro;
}

    #products_s a:hover{
        color: rgb(184, 10, 10); }

    .card a {
        text-decoration: none;
        color: black;
    }
    #mrlcho{
        margin-left: 50px; 
        margin-right: 50px;
    }
    #mlcho{
        margin-left: 50px;
    }
